# python 3.8

# db
asyncpg
# config
python-dotenv
# image processing
pillow
numpy
scipy
matplotlib
# discord
discord-ext-ipc @ git+https://github.com/ext-creators/discord-ext-ipc@865947e9ac8bb019b456007faed423b00b658365
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
discord.py @ git+https://github.com/Rapptz/discord.py@45d498c1b76deaf3b394d17ccf56112fa691d160
jishaku
# apis
aiogithub @ git+https://github.com/reupen/aiogithub.git@7dab796756b36f6c2535e3fec2e5318853357d10
# neural nets
tensorflow
# text/formatting utils
humanize
tabulate
# date/time utils
pytz
# unsorted
pygit2
fuzzywuzzy[speedup]